[submodule "plugins/markup_preview"]
	path = plugins/markup_preview
	url = git://github.com/iromli/gedit-markup_preview.git
[submodule "plugins/pythonkit"]
	path = plugins/pythonkit
	url = git://github.com/iromli/gedit-pythonkit.git
[submodule "plugins/quickhighlightmode"]
	path = plugins/quickhighlightmode
	url = https://github.com/nagaozen/gedit-plugin-quickhighlightmode.git
[submodule "plugins/newline-madness"]
	path = plugins/newline-madness
	url = https://github.com/jefferyto/gedit-newline-madness.git
[submodule "plugins/saveprompt"]
	path = plugins/saveprompt
	url = https://github.com/jessevdk/gedit-saveprompt.git
[submodule "plugins/indent-converter"]
	path = plugins/indent-converter
	url = https://github.com/disfated/gedit-plugin-indent-converter.git
[submodule "plugins/zencoding"]
	path = plugins/zencoding
	url = https://github.com/mikecrittenden/zen-coding-gedit.git
[submodule "plugins/folding"]
	path = plugins/folding
	url = https://github.com/mikecrittenden/gedit-folding.git
[submodule "plugins/mterminal"]
	path = plugins/mterminal
	url = https://github.com/fazibear/gedit-mterminal.git
[submodule "plugins/smarthome"]
	path = plugins/smarthome
	url = https://github.com/kemayo/gedit-smarthome.git
[submodule "plugins/tabs_extend"]
	path = plugins/tabs_extend
	url = https://github.com/nuxlli/gedit-tabsextend.git
[submodule "plugins/editshortcut"]
	path = plugins/editshortcut
	url = git://github.com/iromli/gedit-editshortcut.git
[submodule "plugins/codebrowser"]
	path = plugins/codebrowser
	url = https://github.com/nagaozen/gedit-plugin-codebrowser.git
[submodule "plugins/FindInProject"]
	path = plugins/FindInProject
	url = https://github.com/eggegg/find-in-project.git
[submodule "plugins/fuzzyopen"]
	path = plugins/fuzzyopen
	url = https://github.com/eggegg/fuzzyopen.git
